#class chardatabase kill
#class chardatabase open

#alias {whois} { #var chardb[%0] }

#ticker {updatechardb} {#read character_highlights.tt} {60}

#highlight {Zekial{ |,}} {<400><Fff33ff>}

#var {chardb}
{
	{Zekial} {
		{lvl}		{71}
		{city}	{ashtan}
		{pvp}		{0}
		{class}	{occultist}
		{xp}		{868}
		{explorer} {810}
		{color}	{<400><Fff33ff>}
	};

};

#class chardatabase close
#class chardatabase save
