#nop macros

#nop -------------------------------------------------------------------------
#nop These macros will allow you to move around with the arrow keys while
#nop -------------------------------------------------------------------------
#macro {\e[A} {n}
#macro {\e[C} {e}
#macro {\e[B} {s}
#macro {\e[D} {w}

#macro {\e[5~} {ne}
#macro {\e[6~} {se}

#macro {\e[H} {nw}
#macro {\e[F} {sw}

#macro {\e[Ok} {u}
#macro {\e[Om} {d}

#macro {\e[3~} {in}
#macro {\e[2~} {out}

