#nop Start up script for melkervur

#read global.tt
#read connect.tt

#session mel achaea.com 23
melkervur
achaeapassword

#nop set target when one is seen.

#var pveTarget 0
#alias attackCmd {swing}

#read targets.tt
#read melkervur/battlerage.tt

#action {^You have recovered balance on all limbs.$} {
   atk 
}

