#nop data base of player info

#class playerbd kill
#class playerbd open



#var players {
   {their name} {
      {city}   {ashtan}
      {lvl}    {99}
      {ally}   {0}
      {enemey} {0}
   }
   {their name} {
      {city}   {ashtan}
      {lvl}    {99}
      {ally}   {0}
      {enemey} {0}
   }
}

#class playerbd close
#class playerbd save
