#CLASS {targetlist} OPEN

#VARIABLE {areaName} {Ashtan}
#VARIABLE {targets}
{
    {Ashtan} 
    {
        {rat} {}
    }
    {Test} 
    {
        {orc} {}
        {pygmy} {}
        {smurf} {}
    }
    {the Darkenwood Forest} 
    {
        {arachnoi} {}
        {spider} {}
    }
    {the Village of Genji} 
    {
        {manticore} {}
    }
    {the land of Minia} 
    {
        {pixie} {}
        {pygmy} {}
    }
}

#CLASS {targetlist} CLOSE
