#CLASS {targetlist} OPEN

#VARIABLE {areaName} {the Darkenwood Forest}
#VARIABLE {targets}
{
    {Test} 
    {
        {orc} {}
        {pygmy} {}
        {smurf} {}
    }
    {the Darkenwood Forest} 
    {
        {arachnoi} {}
    }
    {the land of Minia} 
    {
        {pixie} {}
        {pygmy} {}
    }
}

#CLASS {targetlist} CLOSE
