#nop test scripts

#read shopRoomNumbers.tt;

#class wip kill
#class wip open

#action {^Your starburst tattoo flares as the world is momentarily tinted red.$} {
   #show <118>------------------------------------------------;
   #line oneshot #sub {%*} {           <138>STARBURST USED};
   #show <118>------------------------------------------------;
};

#class wip save
#class wip close
